*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a ,img{
    border:none
}
ul,li{
    list-style: none;
}
img{
    display: block;
}
header,nav,article,section,footer,address,aside,foorter{
    display: block;
}
i{
    display: inline-block;
}